@import url(https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Quicksand:wght@300&display=swap);


/* =============================================================================================================================================== */
/* Global Styles */

.full-height{
    height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', sans-serif;
}


p{
    font-family: 'Josefin Slab', serif;
}


body{
    background-color: #71ABB6;
}

.checkout-body{
    background-color: #F3F8F9 !important;
}

.sec-head{
    text-align: center;
    color: #F3F8F9;
}

.trips{
    background-color: #F3F8F9;
}

/* =============================================================================================================================================== */


/* Nav Bar Styling */
/* =============================================================================================================================================== */
.navbar{
    background: #F3F8F9;
}

.nav{
    margin-left: -5%;
}

.navbar-brand{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #71ABB6;
}

.navbar-brand:hover{
    font-weight: bold;
    color: #71ABB6;
}

.nav-link{
    color: #000000 !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-link:hover{
    color: #71ABB6!important;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.active{
    color: #71ABB6!important;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px; 
    border-bottom: 2px solid #71ABB6;
}



/* Carousel */
/* =============================================================================================================================================== */

.carousel-item{
    background-color: #FAFAFA;
}

.image-slider{
    width: auto;
    background-image: url(../assets/Thailand\ Trip\ Layout.jpg);
    background-position: center;
    background-size: cover;
}
.image-slider2{
    width: 100%;
    background-image: url(../assets/Greece\ trip\ Layout.jpg);
    background-position: center;
    background-size: cover;
}
.image-slider3{
    width: 100%;
    background-image: url(../assets/Alaska\ Trip\ Layout.jpg);
    background-position: center;
    background-size: cover;
}

.header{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 220px;
    font-style: normal;
    font-weight: 400;
}

.header span{
    padding: 0;
    margin-left: -75px;
}

.desc-text{
    width: 30%;
    margin-left: 10%;
    font-size: 33px;
    color: #000000;
    font-weight: 500;
}

.carousel-control-next, .carousel-control-prev{
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: #F3F8F9;
    padding: auto;
    border-radius: 50%;
    rotate: 90deg;
}
.carousel-control-prev{
    bottom: 95vh;
}

.carousel-indicators{
    top: auto;
    right: auto;
    left: -17%;
    bottom: 45vh;
    width: auto;
    padding: auto;
    rotate: 90deg;
}


/* ================================================================================ */
/* Weather Plugin */
.weather{
    width: 100%;
    height: 20vh;
    background-color: lightgray;
    border-radius: 25px;
    text-align: center;
}



/* ================================================================================ */
/* cta section */

.cta-seal{
    width: 100%;
    background-image: url(../assets/Seal\ Explore.png);
    background-position: center;
    background-size: cover;
}

/* ================================================================================ */
/* accordion section */
.accordion-item,.accordion-button{
    text-align: center;
    background-color: #71ABB6 !important;
    color: #F3F8F9 !important;
    font-family: 'Josefin Slab', serif;
    border: none;
    border-bottom: 1px #FF7F22 solid;
}





/* ================================================================================ */
/* Trips Section */

.card-img-top.small{
    height: 230px;
}

.card-title{
    font-family: 'Quicksand', sans-serif;
}

/* Card */
.card{
    border-radius: 25px 25px 50px 50px;
    text-align: center;
    height: 560px;
    border: none;
    background-color: #71ABB6;
    color: #F3F8F9;
    font-family: 'Josefin Slab', serif;
}

.card.alternate{
    background-color: #F3F8F9;
    color: #71ABB6;
    border: 2px solid #71ABB6;
}

 .card-img-top{
    border-radius: 25px;
    width: 100%;
    height: 280px;
    margin: auto;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
} 


.btn-dark{
    width: 200px !important;
    background-color: #F3F8F9;
    color: #71ABB6;
    border: 2px solid #71ABB6;
    margin-bottom: 50px;
}

.btn-dark:hover{
    background-color: #FF7F22;
    color: #F3F8F9;
    border: 2px solid #F3F8F9   ;
}

/* ============================================================================================ */
/* Filter Slider Section */

.filter-con{
    background-color: #71ABB6;
    text-align: center;
    color: #F3F8F9;
    height: auto;
}

.filter-box{
    margin-left: 15%;
    width: 70%;
    border: 3px solid #FF7F22;
    border-radius: 15px;
}


/* Label Styling */
.priceTagMin{
    margin-left: -7%;
    margin-bottom: -1.5%;
}
.priceTagMax{
    margin-right: -10%;
    margin-top: -1%;
}

.durTagMin{
    margin-left: -7%;
    margin-bottom: -1.5%;
}
.durTagMax{
    margin-right: -10%;
    margin-top: -1%;
}



/* Sliders styling */
.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
  }
  
  .sliders_control {
    position: relative;
    
  }
  
  /* Sliders styling */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #71ABB6;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #F3F8F9;
    cursor: pointer;
  }
  
  
  /* Slider interact styling */
  input[type=range]::-webkit-slider-thumb:hover {
    background: #FF7F22;
  }
  
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #71ABB6, 0 0 9px #71ABB6;
    -webkit-box-shadow: inset 0 0 3px #71ABB6, 0 0 9px #71ABB6;
  }
  
  
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 3px;
    border-radius: 15px;
    width: 100%;
    margin-left: -50%;
    position: absolute;
    background-color: #F3F8F9;
    pointer-events: none;
  }
  
  

  #fromSlider {
    height: 0;
    z-index: 1;
  }

/* ==================================================================================== */

.dep_port, .dest_port{
    background-color: #71ABB6;
    color: #F3F8F9;
    border: 2px solid #F3F8F9;
    background-image: url("../assets/chevron-down.svg");
}

.des_opt, .dep_opt{
    font-family: 'Josefin Slab', serif;
}

.check_label{
    margin-top: -3px;
    margin-left: -80%;
    font-family: 'Josefin Slab', serif;
    font-size: 24px;
}

.button_container{
    width: 100%;
}

.btn{
    width: 30%;
    height: 50px;
    border-radius: 100px;
    margin: 7%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family: 'Josefin Slab', serif;
}

.btn-con, .btn-can{
    background-color: #F3F8F9;
    color: #71ABB6;
    border: 2px solid #71ABB6;
}

.btn-con:hover, .btn-can:hover{
    background-color: #FF7F22;
    border: 2px solid #F3F8F9;
}

.btn-con:active, .btn-can:active{
    background-color: #F3F8F9;
    border: 2px solid #FF7F22;
}

/* ======================================================================================== */
/* Basic filters */

.btn-outline-success,.btn-outline-secondary{
    margin: 0;
    width: 200px;
    height: 35px;
    border-radius: 12px;
    text-align: center;
}

.btn-group{
    margin-left: 10%;
}

.sorting-grp{
    margin-left: 30.5%;
}

.simple-filter{
    text-align: center;
    color: #71ABB6;
    font-size: 20px;
}
/* ==================================================================================== */
/* Checkout page */


.checkout-header{
    text-align: center;
    color: #71ABB6;
    
}

.trip-body{
    text-align: center;
    color: #71ABB6;
}

.card-img-left{
    border-radius: 15px;
    width: 110%;
    height: auto;
}

.total-price{
    font-size: 32px;
    color: #71ABB6;
}

/* ==================================================================================== */
/* footer section */
footer{
    width: 100%;
    height: 150px;
    background-color: #F3F8F9;
}

.footer-brand{
    font-size: 24px;
}
.footer-brand img{
    width: 44px;
    height: 44px;
}

.footer-links{
    float: right;  
} 

.footer-links a{
    color: #71ABB6;
}

.footer-links .insta{
    margin-top: 5px;
}

.footer-links .facebook{
    margin-left: 60px;
    margin-top: -24px;
}

.footer-links .twitter{
    margin-left: 120px;
    margin-top: -24px;
}
